body {
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	font-size:13px;
	line-height:1.25;
	font-family:arial, helvetica, sans-serif;
	background-image:initial;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#000000;
	background-size:initial;
}

h3 {
	color:#00FF00;
	text-align:center;
}

.container {
	background-image:initial;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#9A9A9A;
	background-size:initial;
	overflow:hidden;
	padding:40px;
}

.leftContainer {
	float:left;
	margin:0;
	padding:0;
}

.profileInfo {
	vertical-align:top;
	width:400px;
	background-image:initial;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#FFFFFF;
	background-size:initial;
	margin:10px;
}

.profileInfo li {
	list-style-type:none;
	color:#000000;
	padding:10px;
}

.bikeSpecs {
	vertical-align:bottom;
	width:400px;
	background-image:initial;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#FFFFFF;
	background-size:initial;
	margin:10px;
}

.bikeSpecs li {
	color:#000000;
	list-style-type:none;
	padding:10px;
}

.rightContainer {
	float:right;
}

.mechanicsCorner {
	width:400px;
	height:300px;
	background-image:initial;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#FFFFFF;
	background-size:initial;
	vertical-align:top;
	margin:10px;
}

.newsFeed {
	width:400px;
	height:300px;
	background-image:initial;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#FFFFFF;
	background-size:initial;
	vertical-align:bottom;
	margin:10px;
}

.nav-primary {
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#000000;
	background-size:initial;
	background-image:url(linear%2dgradient%28rgba%28118%2c%20193%2c%20157%2c%200%29%2c%20rgba%28118%2c%20193%2c%20157%2c%200%29%2090%25%2c%20rgb%28118%2c%20193%2c%20157%29%2090%25%2c%20rgb%28118%2c%20193%2c%20157%29%20100%25);
	clear:both;
	text-align:center;
	margin:0;
	padding:0;
}

.nav-primary li {
	display:inline-block;
	list-style-type:none;
	vertical-align:bottom;
	margin:0;
	padding:0;
}

.nav-primary a {
	color:#00FF00;
	display:block;
	font-size:110%;
	font-weight:bold;
	overflow:hidden;
	position:relative;
	text-decoration:none;
	transition-property:background;
	-webkit-transition-property:background;
	-o-transition-property:background;
	-ms-transition-property:background;
	-moz-transition-property:background;
	transition-duration:0.4s;
	-webkit-transition-duration:0.4s;
	-o-transition-duration:0.4s;
	-ms-transition-duration:0.4s;
	-moz-transition-duration:0.4s;
	transition-timing-function:ease-out;
	-webkit-transition-timing-function:ease-out;
	-o-transition-timing-function:ease-out;
	-ms-transition-timing-function:ease-out;
	-moz-transition-timing-function:ease-out;
	transition-delay:initial;
	-webkit-transition-delay:initial;
	-o-transition-delay:initial;
	-ms-transition-delay:initial;
	-moz-transition-delay:initial;
	padding:0.99em 1.5em 0.99em 1.5em;
}

.nav-primary a::after {
	background-image:initial;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#B82222;
	background-size:initial;
	content:'';
	height:0.714em;
	left:50%;
	margin-left:-0.42857em;
	position:absolute;
	top:-0.857em;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transition-property:top;
	-webkit-transition-property:top;
	-o-transition-property:top;
	-ms-transition-property:top;
	-moz-transition-property:top;
	transition-duration:0.3s;
	-webkit-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	-ms-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	transition-timing-function:ease-out;
	-webkit-transition-timing-function:ease-out;
	-o-transition-timing-function:ease-out;
	-ms-transition-timing-function:ease-out;
	-moz-transition-timing-function:ease-out;
	transition-delay:initial;
	-webkit-transition-delay:initial;
	-o-transition-delay:initial;
	-ms-transition-delay:initial;
	-moz-transition-delay:initial;
	width:0.714em;
}

.nav-primary a:hover {
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#6F6F6F;
	background-size:initial;
	background-image:url(linear%2dgradient%28rgba%2878%2c%20127%2c%20103%2c%200%29%2c%20rgba%2878%2c%20127%2c%20103%2c%200%29%2090%25%2c%20rgb%2878%2c%20127%2c%20103%29%2090%25%2c%20rgb%2878%2c%20127%2c%20103%29%20100%25);
	overflow:hidden;
	position:relative;
}

.nav-primary a:hover::after {
	top:-5px;
}

.nav-primary a.active {
	box-shadow:rgb(78, 127, 103) 0px -5px 0px 0px inset;
	top:-5px;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-attachment:initial;
	background-position:initial initial;
	background-position-x:initial;
	background-position-y:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#6F6F6F;
	background-size:initial;
	background-image:url(linear%2dgradient%28rgba%2878%2c%20127%2c%20103%2c%200%29%2c%20rgba%2878%2c%20127%2c%20103%2c%200%29%2090%25%2c%20rgb%2878%2c%20127%2c%20103%29%2090%25%2c%20rgb%2878%2c%20127%2c%20103%29%20100%25);
	overflow:hidden;
	position:relative;
}

@media only screen and (max-width: 600px) { 
  .nav-primary a { border-top-left-radius: 0.6em; border-top-right-radius: 0.6em; border-bottom-right-radius: 0.6em; border-bottom-left-radius: 0.6em; margin: 0.35em; padding: 0.5em; }
}

.nav-primary a:hover {
	background-image:none;
	box-shadow:rgb(78, 127, 103) 0px -5px 0px 0px inset;
}

